$yellowDark:#ffd200;
$yellow:#FAF2A4;
$yellowLight:#FFF87D;
$pink:#E29494;
$blue:#4285F4;
$blueLight:#5696ff;
$greenLight:#54D5E7;
$purple:#cfc4ff;
$grey:#818181;
$greyLight:#d1d1d4;
$greyDark:#3d4351;
$blackLight:#292f3c;
$fontS:2vh;
$fontL:5vh;
$fontLL:8vh;

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
