.slicknav_menu {
	display:none;
	*zoom: 1;
	position: fixed;
	z-index: 9;
	width: 100%;
	font-size: 16px;
	height: 54px;
	top: -54px;
	background: $blue;
	*cursor: point;
	.slicknav_btn {
		float: right;
		width: 30px;
		height: 22px;
		margin: 16px 22px 16px 0;
		.slicknav_icon {
			display: inline-block;
			width: 30px;
			height: 2px;
			position: relative;
			background: #fff;
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			*height: 30px;
			*background:url(../images/nav.png);

			&:before, &:after {
				display: inline-block;
				width: 30px;
				height: 2px;
				background: #fff;
				position: absolute;
				content: '';
				z-index: 2;
				-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
				animation-fill-mode: forwards;
				-webkit-animation-duration: .5s;
				animation-duration: .5s;
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
			}
			&:before{
				top: -9px;
				-webkit-animation-name: slickAfter;
				animation-name: slickAfter;
			}
			&:after{
				top: 9px;
				-webkit-animation-name: slickBefore;
				animation-name: slickBefore;
			}
		}
		.slicknav_icon_open{
			background: transparent;
			*background:url(../images/navClose.png);
			background: #fff\0;
			&:before, &:after{
				-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
				animation-fill-mode: forwards;
				-webkit-animation-duration: .5s;
				animation-duration: .5s;
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
			}
			&:before{
				-webkit-animation-name: slickOpenBefore;
				animation-name: slickOpenBefore;
			}
			&:after{
				-webkit-animation-name: slickOpenAfter;
				animation-name: slickOpenAfter;
			}
		}
	}
}
.slicknav_menuAction{
	@include transform(translateY(54px));/*54px*/
  @include transition(transform .8s cubic-bezier(.79,.1,.49,1.43)0s);
}
.slicknav_nav {
	overflow: hidden;
	clear: both;
	background:$blueLight;
	margin-top: 54px;
	*margin-top: 0;
	padding:22px 0;
	a {
		display: block;
    color: #fff;
    text-align: center;
    line-height: 52px;
		font-size: 18px;
	}
}

@media screen and (max-width: 1100px) {
	.js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
}
