
script(src='assets/js/jquery.js')
script(src='assets/js/action.js')
script(src='assets/js/browser.js')

//IE 9
script(src='assets/js/css3-mediaqueries.js')
script(src='assets/js/jquery.placeholder.min.js')
script.
  $(document).ready(function(){
    $('input, textarea').placeholder();
  });

//Slicknav
script(src="assets/js/slicknav/modernizr2.6.2.min.js")
script(src='assets/js/slicknav/jquery.slicknav.js')
script.
  $(document).ready(function(){
    $('#menu').slicknav();
  });

//Action
script(src="assets/js/action/effects-core.min.js")
script(src="assets/js/action/jquery.fadethis.js")
